In [10]:
import pandas as pd
import numpy as np

df = pd.read_csv('marketing_customer_analysis.csv')

df_num = df.select_dtypes(include=np.number)

#display(df_num)

# X-y split

y = df_num['Total Claim Amount']
X = df_num.drop(['Total Claim Amount'], axis=1)

X.head()

,Customer Lifetime Value,Income,Monthly Premium Auto,Months Since Last Claim,Months Since Policy Inception,Number of Open Complaints,Number of Policies
0,2763.519279,56274,69,32,5,0,1
1,6979.535903,0,94,13,42,0,8
2,12887.431650,48767,108,18,38,0,2
3,7645.861827,0,106,18,65,0,7
4,2813.692575,43836,73,12,44,0,1

In [18]:
# Normalized numericak

from sklearn.preprocessing import StandardScaler

Standardtransformer = StandardScaler()

Standardtransformer.fit(X) 

x_standardized = Standardtransformer.transform(X) 

x_standardized = pd.DataFrame(x_standardized,columns=X.columns)

round(x_standardized.head(),2)

,Customer Lifetime Value,Income,Monthly Premium Auto,Months Since Last Claim,Months Since Policy Inception,Number of Open Complaints,Number of Policies
0,-0.76,0.61,-0.70,1.68,-1.54,-0.42,-0.82
1,-0.15,-1.24,0.02,-0.21,-0.22,-0.42,2.11
2,0.71,0.37,0.43,0.29,-0.36,-0.42,-0.40
3,-0.05,-1.24,0.37,0.29,0.61,-0.42,1.69
4,-0.76,0.20,-0.59,-0.31,-0.15,-0.42,-0.82